{% extends 'flatpages/default.html' %}


{% block content %}
{% for cat in postd.category.all %}
    <u>{{ cat.name }}</u>
        {% if request.user in cat.subscribers.all %}
        <a class="btn btn-secondary" href="{% url 'unsubscribe' cat.id %}">Отписаться</a>
        {% else %}
        <a class="btn btn-secondary" href="{% url 'subscribe' cat.id %}">Подписаться</a>
        {% endif %}
        {% endfor %}
<h1>Заголовок: {{ postd.heading }}</h1>
<h1>Автор: {{  postd.author.user }}</h1>
<h1>Дата публикации: {{ postd.time_in }}</h1>
<h1>Новость: {{ postd.text }}</h1>
{% endblock content %}